<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tf.mapper.MyFileMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,user_id,parent_id,name,size,type,path,createdate,password,islock,isshare,sharedownload,location,shareurl,md5,description
    </sql>
    
    <select id="listAllFiles" resultType="MyFile" parameterType="java.lang.Long">
        SELECT
			location,
			id,
			user_id
		FROM
			myfile
		WHERE
			path LIKE concat((select path from myfile where id =#{id}),#{id},"/%")
		AND type != 'adir'
		ORDER BY
			id DESC 
    </select>
    
    <update id="moveDir" parameterType="java.lang.String">
    	UPDATE myfile
			SET path = REPLACE (path ,#{sourcePath},#{targetPath})
			WHERE
				path LIKE #{parentPath}
    </update>

</mapper>